<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdnu.baikun.mapper.CategoryMapper">

    <resultMap id="BaseResultMap" type="com.cdnu.baikun.domain.Category">
        <id property="categoryId" column="category_id" jdbcType="INTEGER"/>
        <result property="categoryPid" column="category_pid" jdbcType="INTEGER"/>
        <result property="categoryName" column="category_name" jdbcType="VARCHAR"/>
        <result property="categoryDescription" column="category_description" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        category_id
        ,category_pid,category_name,
        category_description
    </sql>
</mapper>
