<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdnu.baikun.mapper.CollectionMapper">

    <resultMap id="BaseResultMap" type="com.cdnu.baikun.domain.Collection">
            <id property="userId" column="user_id" jdbcType="INTEGER"/>
            <result property="resourceId" column="resource_id" jdbcType="INTEGER"/>
            <result property="newsId" column="news_id" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        user_id,resource_id,news_id
    </sql>
</mapper>
